1) Buatlah program python enumerasi tabel kebenaran untuk konfigurasi penekanan tombol 1,2,3,4,5, dan 6 kemudian lakukan inferensi dan temukanlah konfigurasi penekanan mana saja yang dapat membuat lampu menyala

- Gerbang hijau -> only one true (xor)
- Gerbang merah -> the value of a or b is true (or)
- Gerbang biru -> a and b are true (and)

In [1]:
import pandas as sk

table = []
for uno in [True, False]:
    for dos in [True, False]:
        for tres in [True, False]:
            for cuatro in [True, False]:
                for cinco in [True, False]:
                    for seis in [True, False]:
                        for siete in [True, False]:
                            for ocho in [True, False]:
                                red_1 = uno or dos
                                green_1 = tres ^ cuatro
                                blue_1 = cinco and seis
                                red_2 = red_1 or green_1
                                red_3 = siete or red_2
                                blue_3 = red_2 and ocho
                                green_3 = blue_1
                                red_4 = red_3 or blue_3
                                blue_4 = blue_3 and green_3
                                red_5 = red_4 or blue_4
                                light_on = red_5
                                table.append(sk.DataFrame({'1': [uno],
                                                            '2': [dos],
                                                            '3': [tres],
                                                            '4': [cuatro],
                                                            '5': [cinco],
                                                            '6': [seis],
                                                            '7': [siete],
                                                            '8': [ocho],
                                                            'Light': [light_on]}))
truthTable = sk.concat(table, ignore_index=True)
truthTable

         1      2      3      4      5      6      7      8  Light
0     True   True   True   True   True   True   True   True   True
1     True   True   True   True   True   True   True  False   True
2     True   True   True   True   True   True  False   True   True
3     True   True   True   True   True   True  False  False   True
4     True   True   True   True   True  False   True   True   True
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
251  False  False  False  False  False   True  False  False  False
252  False  False  False  False  False  False   True   True   True
253  False  False  False  False  False  False   True  False   True
254  False  False  False  False  False  False  False   True  False
255  False  False  False  False  False  False  False  False  False

[256 rows x 9 columns]

In [2]:
truthTable[truthTable['Light']==True]

         1      2      3      4      5      6      7      8  Light
0     True   True   True   True   True   True   True   True   True
1     True   True   True   True   True   True   True  False   True
2     True   True   True   True   True   True  False   True   True
3     True   True   True   True   True   True  False  False   True
4     True   True   True   True   True  False   True   True   True
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
245  False  False  False  False   True  False   True  False   True
248  False  False  False  False  False   True   True   True   True
249  False  False  False  False  False   True   True  False   True
252  False  False  False  False  False  False   True   True   True
253  False  False  False  False  False  False   True  False   True

[240 rows x 9 columns]

Buatlah program python untuk memeriksa beberapa kasus di bawah ini dari:
1) ∀𝑥∃𝑦(𝑚𝑜𝑡ℎ𝑒𝑟(𝑥, 𝑦))
2) ∃𝑥∀𝑦(𝑚𝑜𝑡ℎ𝑒𝑟(𝑥, 𝑦))
3) ∃𝑥∃𝑦∃𝑧(𝑚𝑜𝑡ℎ𝑒𝑟(𝑥, 𝑚𝑜𝑡ℎ𝑒𝑟(𝑦, 𝑧)))

arti :
1) Semua anak memiliki setidaknya 1 ibu
2) Setidaknya ada 1 anak yang memilki semua ibu
3) Ada z yang merupakan ibu dari y yang merupakan ibu dari x

In [3]:
# ∀𝑥∃𝑦(𝑚𝑜𝑡ℎ𝑒𝑟(𝑥, 𝑦))

dist = {'Alex' : 'Khan',
        'Napole' : 'Parta',
        'Julius' : 'Bulma'}

son = ['Alex', 'Napole', 'Caesar']

vlue = []
for i in son:
    if i not in dist:
        vlue.append('Salah')
    else:
        vlue.append('Benar')

a  = set(vlue)

if len(a) > 1:
    print('Salah')
else:
    print('Benar')

Salah

In [17]:
# ∃𝑥∀𝑦(𝑚𝑜𝑡ℎ𝑒𝑟(𝑥, 𝑦))

dist = {'Alex' : ['Khan', 'Parta', 'Bulma'],
        'Burma' : ['Bulma'],
        'Caesar' : ['Khan', 'Bulma']}

son = ['Alex', 'Burma']

maks = 0
for i in dist:
    maks = max(maks, len(dist[i]))

moms = []
for i in dist:
    for j in range(maks):
        try:
            moms.append(dist[i][j])
        except IndexError:
            None

mom = set(moms)

rest = []
for i in dist:
    if len(dist[i]) == len(mom):
        rest.append('Benar')

if len(rest) < 1:
    print('Salah')
else:
    print('Benar')

['Khan', 'Parta', 'Bulma', 'Bulma', 'Khan', 'Bulma']
{'Parta', 'Bulma', 'Khan'}
Benar

In [13]:
# ∃𝑥∃𝑦∃𝑧(𝑚𝑜𝑡ℎ𝑒𝑟(𝑥, 𝑚𝑜𝑡ℎ𝑒𝑟(𝑦, 𝑧)))
# ada anak x adalah ibu dari y dan y merupakan ibu z

dist = {'Alex' : 'Jackie',
        'Jackie' : 'Parta'}

rest = []
for i in dist:
    for j in dist:
        if i == dist[j]:
            rest.append(1)
        else:
            rest.append(0)

a = set(rest)
b = len(a) - 1

binr = []
for i in a:
    binr.append(i)

if binr[b] == 1:
    print('Benar')
else:
    print('Salah')

Benar

In [6]:
# ∃𝑥∃𝑦∃𝑧(𝑚𝑜𝑡ℎ𝑒𝑟(𝑥, 𝑚𝑜𝑡ℎ𝑒𝑟(𝑦, 𝑧)))
# ada anak x dan anak y yang ibunya adalah z

dist = {'Alex' : 'Jackie',
        'Napo' : 'Jackie'}

son = ['Alex', 'Napo']

moms = []
for i in son:
    moms.append(dist[i])

mom = set(moms)

if len(mom) < len(moms):
    print('Benar')
elif len(mom) == len(moms):
    print('Salah')

Benar